body {
    background-color: beige;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    background-color: black;
}

input[type=range] {
    width: 88%;
    margin: 0;
}

div.slider {
    width: 640px;
    margin: 0 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-self: center;
}

div.slider>label {
    width: 10%;
    font-size: small;
    text-align: right;
    margin-left: 2%;
}

div.gifSaveContainer {
    margin: 1em;
}